* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  padding: 40px 0;
  user-select: none;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* overflow: hidden; */
}

/* Remove tap highlight (mobile) */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove ugly focus outlines (Tesla style) */
a:focus,
a:visited,
a:active {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.carousel-section {
  margin-bottom: 80px;
}

/* FADE */
.fade-slides {
  position: relative;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
}

.fade-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #fff;
}

.fade-slide.active {
  opacity: 1;
}

.dots {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.6;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

/* SLIDE */
.slide-carousel-wrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-radius: 16px;
}

.slide-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #fff;
}

/* ARROWS (shared) */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  z-index: 10;
}

.nav-arrow.left {
  left: 20px;
}
.nav-arrow.right {
  right: 20px;
}

#slideTrack .slide-item:first-child {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

#slideTrack .slide-item:last-child {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}


/* ===== CUSTOM SCROLLBAR ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;        /* page bg se match */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #444,
    #222
  );
  border-radius: 10px;
  border: 2px solid #0f0f0f;  /* gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #666,
    #333
  );
}
